body{
    
 
    background-color: #b8e994;
}

#headersection{
   
      padding: 10px 10px;
    
}

#headersection h1{
    font-family: cursive ;
}

input{
    padding: 10px;
    border-radius: 5px;
    font-weight: 300;
    width: 15% ;
}

#dropbox{
    padding: 10px;
    border-radius: 5px;
    width: 15%;
}

#loginbtn{
    padding: 5px;
    border-radius: 5px;
    color: white ;
    background-color: #3498db ;
    border-radius: 5px;
}